{% extends "layout.html" %}
{% block content %}
  <style>
    .progress {
      position: relative;
      z-index: 5;
      background: #484848;
      border: 1px solid #282828;
      border-radius: 20px;
      display: inline-block;
      margin: 0 !important;
    }

    .progress, .progress-bar {
      width: 70px;
      max-width: 70px;
      height: 15px;
    }

    .progress-bar {
      overflow: hidden;
      position: relative;
      z-index: 10;
      border-radius: 12px;
      width: 0;
      -moz-transition: width .2s linear;
      -webkit-transition: width .2s linear;
      -o-transition: width .2s linear;
      transition: width .2s linear;
    }

    .progress.candy .progress-bar {
      background-color: #20dd40;
      box-shadow: 0 0 6px 2px rgba(255, 255, 255, 0.3) inset;
      background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.35) 25%, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.35) 50%, rgba(255, 255, 255, 0.35) 75%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0));
      background-repeat: repeat-x;
      background-size: 20px 20px;
      -webkit-animation: candystripe 1s linear infinite;
      -moz-animation: candystripe 1s linear infinite;
      animation: candystripe 1s linear infinite;
    }

    .search {
      position: relative;
    }

    .searchbox {
      font-size: 14px;
      width: 50%;
      color: #000;
      height: 4.5rem;
      border: 1px solid #B4CADF;
      padding: 5px 10px;
      border-radius: 5px;
      outline: none;
      margin: 3px;
    }

    .searchbtn {
      position: absolute;
      font-size: 25px;
      color: #B4CADF;
      background-color: transparent;
      border: none;
      right: 8%;
      top: 7px;
      outline: none;
      padding: 4px;
    }

    .ui-menu-item {
      font-size: 14px;
      padding: 5px;
    }

    .clear {
      position: absolute;
      font-size: 15px;
      color: #000;
      background-color: transparent;
      border: none !important;
      right: 20%;
      top: 18px;
    }
    @-webkit-keyframes candystripe {
      to {
        background-position: 20px 0;
      }
    }

    @-moz-keyframes candystripe {
      to {
        background-position: 20px 0;
      }
    }

    @keyframes candystripe {
      to {
        background-position: 20px 0;
      }
    }
  </style>
  <script>
    var localData = {{ data | tojson }};
  </script>
  <div id="history" class="content">
    <div class="container">
      <div class="content__button">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6"></div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="row">
              <div class="col-md-3 dropdown"></div>
              <div class="col-md-3"></div>
              <div class="search col-md-6">
                <input id="tags" type="search" name="q" class="searchbox signup-input text-value" placeholder="Search" style="width: 100%" v-model="search" v-on:keyup="hint">
                <button v-if="search != '' && search != null" class="clear" v-on:click="search = ''"><i class="fas fa-times"></i></button>
                <button type="submit" class="searchbtn" v-on:click="searchData()"><i class="fas fa-search"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="content__table">
        <div class="row">
          <div class="col-md-12">
            <div class="card card--transparent">
              <div class="card-body p-0">
                <div class="toolbar">
                  <!--        Here you can write extra buttons/actions for the toolbar              -->
                </div>
                <div class="material-datatables" style="height: 610px">
                  <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" style="width:100%">
                    <thead>
                    <tr>
                      <th class="text-center" style="width: 20px">
                        <div class="form-check">
                          <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" v-on:change="selectAll" v-model="allSelected"/>
                            <span class="form-check-sign">
                            <span class="check"></span>
                          </span>
                          </label>
                        </div>
                      </th>
                      <th class="text-center">Index</th>
                      <th class="text-center">Pill ID</th>
                      <th class="text-center">Pill Name</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="d in data" :class="d.view_status ? 'font-weight-normal' : 'font-weight-bold'">
                      <td class="td__content text-center">
                        <div class="form-check">
                          <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" :value="d.id" v-on:change="select" v-model="selectedList"/>
                            <span class="form-check-sign">
                            <span class="check"></span>
                          </span>
                          </label>
                        </div>
                      </td>
                      <td class=" td__content text-center">
                        <span class="td__content-text">
                          <a :href="'/upload?id='+d.id">{% raw %}{{d.id}}{% endraw %}</a>
                        </span>
                      </td>
                      <td class=" td__content text-center">
                        <span class="td__content-text">
                          <a :href="'/upload?id='+d.id">{% raw %}{{d.pill_id}}{% endraw %}</a>
                        </span>
                      </td>
                      <td class="td__content" style="text-align: left;">
                          <a :href="'/upload?id='+d.id">{% raw %}{{d.name}}{% endraw %}</a>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <!-- end content-->
            </div>
            <!--  end card  -->
          </div>
          <!-- end col-md-12 -->
        </div>
        <nav>
          <ul class="pagination justify-content-center">
            <li><a @click="first"> << </a></li>
            <li><a @click="prev"> < </a></li>
            <li v-if="pageCount < 6" v-for="p in getRange(pageNo, pageCount)" :class="pageNo == p ? 'active' : ''">
              <a @click="page(p)">{% raw %}{{p}}{% endraw %}</a>
            </li>
            <li v-if="pageNo < pageCount - 5 && pageCount > 6" v-for="p in getRange(pageNo, pageNo + 5)" :class="pageNo == p ? 'active' : ''">
              <a @click="page(p)">{% raw %}{{p}}{% endraw %}</a>
            </li>
            <li v-if="pageNo >= pageCount - 5 && pageCount > 6" v-for="p in getRange(pageCount - 5, pageCount)" :class="pageNo == p ? 'active' : ''">
              <a @click="page(p)">{% raw %}{{p}}{% endraw %}</a>
            </li>
            <li><a @click="next"> > </a></li>
            <li><a @click="last"> >> </a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <script src="{{ url_for('static', filename='js/socket.io.js') }}"></script>
  <script src="{{ url_for('static', filename='js/history.js') }}?v=22"></script>
{% endblock content %}
