{% extends "layout.html" %}
{% block content %}
  <style>
    @-webkit-keyframes candystripe {
      to {
        background-position: 20px 0;
      }
    }

    @-moz-keyframes candystripe {
      to {
        background-position: 20px 0;
      }
    }

    @keyframes candystripe {
      to {
        background-position: 20px 0;
      }
    }
  </style>
  <script>
    var localData = {{ data | tojson }};
  </script>
  <div id="labels" class="content">
    <div class="container">
      <div class="content__button">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <button type="button" class="btn btn-md btn-custom btn-custom--secodary__color" @click="openAdd()">
              <i class="material-icons">add_circle_outline</i>
              <span>ADD</span>
            </button>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="row">
              <div class="col-md-3 dropdown">

              </div>
              <div class="col-md-3"></div>
              <div class="col-md-6"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="content__table">
        <div class="row">
          <div class="col-md-12">
            <div class="card card--transparent">
              <div class="card-body p-0">
                <div class="toolbar">
                  <!--        Here you can write extra buttons/actions for the toolbar              -->
                </div>
                <div class="material-datatables" style="height: 610px">
                  <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0"
                         style="width:100%">
                    <thead>
                    <tr>
                      <th class="text-center" style="width: 80px">#</th>
                      <th class="text-center">Name</th>
                      <th class="text-center">Label</th>
                      <th class="text-center"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="d in data">
                      <td class=" td__content text-center">
                        {% raw %}{{d.id}}{% endraw %}
                      </td>
                      <td class=" td__content text-center">
                        <a :href="'{{ url_for("image_manager") }}?label='+d.label">{% raw %}{{d.name}}{% endraw %}</a>
                      </td>
                      <td class="td__content">
                        <a :href="'{{ url_for("image_manager") }}?label='+d.label">{% raw %}{{d.label}}{% endraw %}</a>
                      </td>
                      <td class="td__content">
                        <button class="btn btn-danger" @click="openDel(d.id)"><i class="material-icons">delete_outline</i></button>
                        <button class="btn btn-success" @click="openEdit(d.id, d.name, d.label)"><i class="material-icons">create</i></button>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="add-label" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">×</span>
                <span class="sr-only">Close</span>
              </button>
            </div>
            <div class="">
              <label style="font-size: 1.5rem; font-weight: bold;">Name</label>
              <div class="form-group">
                <input class="form-control" type="text" style="margin: 15px 0" v-model="name">
              </div>
              <label style="font-size: 1.5rem; font-weight: bold;">Label</label>
              <div class="form-group">
                <input class="form-control" type="text" style="margin: 15px 0" v-model="label">
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button v-if="selected == null" class="btn btn-success" data-dismiss="modal" @click="addLabel()">Ok</button>
            <button v-else="selected != null" class="btn btn-success" data-dismiss="modal" @click="editLabel()">Update</button>
          </div>
        </div>
      </div>
    </div>
    <div id="del-label" class="modal fade" role="dialog">
      <div style="width:850px" class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <div class="modal-header">
              <h2>Do you want to delete this label?</h2>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-success btn-sm" data-dismiss="modal" v-on:click="">
              Cancel
            </button>
            <button class="btn btn-danger" @click="delLabel()">
              OK
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="{{ url_for('static', filename='js/labels.js') }}?v=234"></script>
{% endblock content %}