{% extends "layout.html" %}
{% block content %}
  <style>
    .clear {
      position: absolute;
      font-size: 15px;
      color: #000;
      background-color: transparent;
      border: none !important;
      right: 20%;
      top: 18px;
    }
    @-webkit-keyframes candystripe {
      to {
        background-position: 20px 0;
      }
    }

    @-moz-keyframes candystripe {
      to {
        background-position: 20px 0;
      }
    }

    @keyframes candystripe {
      to {
        background-position: 20px 0;
      }
    }
  </style>
  <script>
    var localData = {{ data | tojson }};
  </script>
  <div id="set_manager" class="content">
    <div class="container">
      <div class="content__button">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            {% if current_user.admin %}
              <div class="col-md-3 dropdown">
                <button type="button" class="btn btn-md btn-custom btn-custom--secodary__color">
                  <a href="{{ url_for("set_register") }}">
                    <i class="material-icons">add_circle_outline</i>
                    <span>ADD</span>
                  </a>
                </button>
              </div>
              {% endif %}
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="row">
              <div class="col-md-3"></div>
              <div class="search col-md-6"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="content__table">
        <div class="row">
          <div class="col-md-12">
            <div class="card card--transparent">
              <div class="card-body p-0">
                <div class="toolbar"> </div>
                <div class="material-datatables" style="height: 610px">
                  <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" style="width:100%">
                    <thead>
                    <tr>
                      <th class="text-center" style="width: 80px">Index</th>
                      <th class="text-center" style="width: 150px">Name</th>
                      <th class="text-center">Status</th>
                      <th class="text-center"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="d in data">
                      <td class=" td__content text-center">
                        <a :href="'{{ url_for("set_detail") }}?id='+d.id">{% raw %}{{d.id}}{% endraw %}</a>
                      </td>
                      <td class=" td__content text-center">
                        <span class="td__content-text">
                          <a :href="'{{ url_for("set_detail") }}?id='+d.id">{% raw %}{{d.name}}{% endraw %}</a>
                        </span>
                      </td>
                      <td class="td__content">
                        <span>{% raw %}{{d.status}}{% endraw %}</span>
                      </td>
                      <td class="td__content">
                        <button class="btn btn-danger" @click="delImage(d.id)"><i class="material-icons">delete_outline</i></button>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <!-- end content-->
            </div>
            <!--  end card  -->
          </div>
          <!-- end col-md-12 -->
        </div>
      </div>
    </div>
  </div>
  <script src=" {{ url_for('static', filename='js/set_manager.js') }}?v=24"></script>
{% endblock content %}