{% extends "layout.html" %}
{% block content %}
  <style>
    .clear {
      position: absolute;
      font-size: 15px;
      color: #000;
      background-color: transparent;
      border: none !important;
      right: 20%;
      top: 18px;
    }
    @-webkit-keyframes candystripe {
      to {
        background-position: 20px 0;
      }
    }

    @-moz-keyframes candystripe {
      to {
        background-position: 20px 0;
      }
    }

    @keyframes candystripe {
      to {
        background-position: 20px 0;
      }
    }
  </style>
  <script>
    var localData = {{ data | tojson }};
  </script>
  <div id="upload_manager" class="content">
    <div class="container">
      <div class="content__button">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6"></div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="row">
              <div class="col-md-3 dropdown"></div>
              <div class="col-md-3"></div>
              <div class="search col-md-6"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="content__table">
        <div class="row">
          <div class="col-md-12">
            <div class="card card--transparent">
              <div class="card-body p-0">
                <div class="toolbar"> </div>
                <div class="material-datatables" style="height: 610px">
                  <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" style="width:100%">
                    <thead>
                    <tr>
                      <th class="text-center" style="width: 80px">Index</th>
                      <th class="text-center" style="width: 150px">Pill ID</th>
                      <th class="text-center">Image</th>
                      <th class="text-center">Type</th>
                      <th class="text-center">Created at</th>
                      <th class="text-center">Created by</th>
                      <th class="text-center"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="d in data">
                      <td class=" td__content text-center">
                        <span class="td__content-text">
                          {% raw %}{{d.id}}{% endraw %}
                        </span>
                      </td>
                      <td class=" td__content text-center">
                        <span class="td__content-text">
                          <a :href="'{{ url_for("upload") }}?id='+d.pill_id">{% raw %}{{d.pill_id}}{% endraw %}</a>
                        </span>
                      </td>
                      <td class="td__content">
                        <a :href="'{{ url_for("static", filename="uploaded/") }}' + d.image_url" height="200">{% raw %}{{d.image_url}}{% endraw %}</a>
                      </td>
                      <td class="td__content">
                        {% raw %}{{d.type == 'pill' ? 'Pill' : 'Prescription'}}{% endraw %}
                      </td>
                      <td class="td__content">
                        {% raw %}{{d.created_at}}{% endraw %}
                      </td>
                      <td class="td__content">
                        {% if current_user.admin %}
                          <a :href="'{{ url_for("upload_manager") }}?userid='+d.userid">{% raw %}{{d.user}}{% endraw %}</a>
                        {% else %}
                          {% raw %}{{d.user}}{% endraw %}
                        {% endif %}
                      </td>
                      <td class="td__content">
                        <button class="btn btn-danger" @click="delImage(d.id)"><i class="material-icons">delete_outline</i></button>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <!-- end content-->
            </div>
            <!--  end card  -->
          </div>
          <!-- end col-md-12 -->
        </div>
      </div>
    </div>
  </div>
  <script src=" {{ url_for('static', filename='js/upload_manager.js') }}?v=22"></script>
{% endblock content %}